<!DOCTYPE html>
<html>
  <head>
    <title>Tasks</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/styles.css' type='text/css'>
  </head>
  <body>
    <div class="header jumbotron">
      <h1>Welcome the Office of Dr. Jekyl</h1>
    </div>
    <div class="container row">
      <%= yield %>
    </div>
  </body>
</html>
