<div class="col-xs-6">

  <h1><%= @specialty.name %></h1>

  <div class="col-xs-6">
    <% if @doctors.any?() %>
    <h3>Here are our specialties:</h3>

    <ul>
      <% @doctors.each() do |doctor| %>
        <li><a href="/one_specialty/<%= doctor.id()%>"><%= doctors.name() %></a> </li>
      <% end %>
    </ul>

  <% else %>

      <p>There are no specialties yet!</p>

  <% end %>


</div>
<div class="col-xs-6">
  <form action="/one_specialty" method="post">
  <div class="form-group">
    <label class='form-label' for="doctor">Assign a doctor to this specialty:</label>
    <input class='form-control' id='doctor' type="text" name="doctor" placeholder="Doctor Name" autofocus>

    <button type="submit" class="button btn">Add Patient</button>
  </div>
</form>
</div>
