<div class="col-xs-6">

  <h1><%= @specialty.name %></h1>



</div>
<div class="col-xs-6">
  <form action="/index" method="post">
  <div class="form-group">
    <label class='form-label' for="doctor">Assign a doctor to this specialty:</label>
    <input class='form-control' id='doctor' type="text" name="doctor" placeholder="Doctor Name" autofocus>
    
    <button type="submit" class="button btn">Add Patient</button>
  </div>
</form>
</div>
